<!-- A sample app.config file projects implementing this library can use to customise default settings. -->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RgbLedSequencer" type="RgbLedSequencerLibrary.RgbLedSequencerSection, RgbLedSequencerLibrary" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <RgbLedSequencer
    MaxDotCorrection="63"
    MaxGrayscale="255"
    MaxStepCount="770"
    MaxStepDelay="65535"
    RgbLedCount="5"
    SequenceCount="10">
    <SerialPort
      PortName="COM1"
      BaudRate="38400"
      Parity="None"
      DataBits="8"
      StopBits="One"
      ReadTimeout="3000"
      WriteTimeout="3000"/>
  </RgbLedSequencer>
</configuration>
